*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ball
{
    width: 200px;
    height: 200px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
.ball::before
{
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    background: red;
    z-index: 2;
}
.ball::after
{
    content: '';
    width: 70px;
    height: 5px;
    background: #000;
    position: absolute;
    border-radius: 100%;
    bottom: 0;
    left: 50%;
    margin-left: -35px;
    filter: blur(3px);
    z-index: 1;
}
.ball::before
{
    animation: ballBouncing 0.5s infinite alternate;
}
.ball::after
{
    animation: Shadow 0.5s infinite alternate;
}

@keyframes ballBouncing
{
    0%
    {
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(-40px);
    }
}
@keyframes Shadow
{
    0%
    {
        transform: scale(1,1);
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2,1.2);
        opacity: 0.5;
    }
}
